/* navbar.css */
.custom-navbar {
    background-color: #1c1c1c;
}

.brand-glow {
    font-weight: bold;
    color: #0d6efd;
    text-shadow: 0 0 5px rgba(13,110,253,0.7);
    transition: 0.3s;
}

    .brand-glow:hover {
        color: #0a58ca;
        text-decoration: none;
    }

.cool-link {
    color: #fff;
    transition: all 0.3s;
}

    .cool-link:hover {
        color: #0d6efd;
        text-decoration: underline;
    }

.navbar-nav .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Asigură că linkurile sunt clickabile */
.navbar a.nav-link {
    pointer-events: auto;
}
