@using Microsoft.AspNetCore.Identity
@using TaskManager.Modules.Users.Models
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    string displayName = user?.FullName ?? "ADMIN";
}

<nav class="navbar navbar-expand-lg custom-navbar sticky-top navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-danger font-monospace" asp-controller="Home" asp-action="Index">
            <i class="bi bi-cpu-fill me-2"></i>TASK_MANAGER
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navAdmin">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navAdmin">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link font-monospace" asp-controller="Home" asp-action="AdminDashboard">
                        <i class="bi bi-speedometer2"></i> Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-monospace" asp-controller="Users" asp-action="Index">
                        <i class="bi bi-people-fill"></i> Utilizatori
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-monospace" asp-controller="Tasks" asp-action="Priorities">
                        <i class="bi bi-list-ol"></i> Lista de Priorități
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cyber-nav-link" href="#" id="aDrop" role="button" data-bs-toggle="dropdown">
                        <span class="text-danger">SALUT, @displayName?.ToUpper()!</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end cyber-dropdown-menu">
                        <li>
                            <a class="dropdown-item cyber-dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <i class="bi bi-person-gear"></i> Setări Cont
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.1);"></li>
                        <li>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="cyber-logout-btn">
                                    <i class="bi bi-power"></i> DECONECTARE
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>