@using Microsoft.AspNetCore.Identity
@using TaskManager.Modules.Users.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var displayName = currentUser?.FullName ?? User.Identity?.Name;
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="UserDashboard">
            <i class="fas fa-home me-1"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Gamification" asp-action="MyProgress">
            <i class="fas fa-trophy me-1"></i> My Progress
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Gamification" asp-action="Leaderboard">
            <i class="fas fa-medal me-1"></i> Leaderboard
        </a>
    </li>
</ul>

<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link fw-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Vezi profilul">
            <i class="fas fa-user me-1"></i> Salut, @displayName!
        </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-white border-0" style="text-decoration: none;">
                <i class="fas fa-sign-out-alt me-1"></i> Logout
            </button>
        </form>
    </li>
</ul>