<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">TaskManager</a>

        <div>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-light me-2">Login</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Register</a>
        </div>
    </div>
</nav>
