@using Microsoft.AspNetCore.Identity
@using TaskManager.Modules.Users.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var displayName = currentUser?.FullName ?? User.Identity?.Name; // Afișează Numele Complet sau Email-ul dacă numele lipsește
}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">TaskManager</a>

        <div>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-light me-2">Login</a>
        </div>
    </div>
</nav>
