<nav class="navbar navbar-expand-lg custom-navbar sticky-top navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-info font-monospace" asp-controller="Home" asp-action="Index">
            <i class="bi bi-cpu-fill me-2"></i>TASK_MANAGER
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navGuest">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navGuest">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info text-info font-monospace px-4 py-1 ms-3 border-info"
                       style="border-radius: 0; transition: all 0.3s;"
                       asp-area="Identity"
                       asp-page="/Account/Login">
                        <i class="bi bi-box-arrow-in-right me-2"></i> AUTENTIFICARE
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>